
.loader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid transparent;
    border-bottom-color: #2563eb;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #FFFFFF;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }